<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<div>
	<h1>CaptBot</h1><br>
	<p>Please enter your image url to generate a caption.</p>
	<form action="{{ url_for('generate')}}"method="post">
		<input type="text" name="url" placeholder="url" required="required"/>
		<button type="submit" class="btn btn-primary btn-block btn-large">Generate Caption!</button>
	</form>
	<br>
	<br>
	{{ caption_text }}
</div>

<style>

	* {

		font-family: "Rubik", "sans-serif";
	}

	div {

		text-align: center;
		margin-top: 40px;
	}

	h1 {

		color: blue;
		font-size: 40pt;
	}

	p {

		font-size: 25pt;
	}

</style>